* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ef5f4c;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --font-family: "Poppins", sans-serif;
  --text: 1rem/150% var(--font-family);
  --text-sm: 0.75rem/170% var(--font-family);
  --text-md: 0.875rem/170% var(--font-family);
  --text-lg: bold 1.5rem/125% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  /* ? aplica o padding nos eixos left e right */
  padding-inline: 2rem;
  max-width: 80rem;
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

@media (width >= 80rem) {
  :root {
    --text-lg: bold 2rem/125% var(--font-family);
  }
}
